body {
    background-color: hsl(219, 30%, 18%);
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.overall-container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* -----header---====== */
.header-container {
    display: flex;
    justify-content: space-between;
}

.fylo-image {
    width: 80px;
    height: 25px;
}

.header {
    color: hsl(0, 2%, 84%);
    padding-right: 3px;
    padding-top: 4px;
    font-size: small;
    word-spacing: 20px;
}

span {
    word-spacing: 2px;
}

/* =========-----------intro */
.intro-content-container  {
    justify-content: center;
}

.illustration-image {
    width: 290px;
    height: 220px;
    margin-top: 30px;
    margin-left: 25px;

}

.intro-box {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
    margin-top: 40px;
    width: 300px;
}
/* 
 .image-background {
    width: 355px;
    height: 200px;
    padding-top: 150px;
    margin-bottom: 100%;
    justify-content: center;
} */

.fylo-box {
    color: hsl(0, 0%, 100%);
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    width: 295px;
    padding-left: 18px;
}

.start-button {
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
    margin-left: 10px;
    height: 36px;
    border-radius: 30px;
    padding-top: 15px;
    background-color: hsl(198, 60%, 50%);
    justify-content: center;
}

/* ========access your file anywhere */
.access-image {
    margin-top: 130px;
    height: 70px;
    text-align: center;
}

.access-header {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.access-box {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 10px;
    margin-left: 18px;
    width: 290px;
    line-height: 20px;
}

/* ===========security you can trust */
.security-image {
    margin-top: 100px;
    height: 70px;
}

.security-header {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.security-box {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    width: 290px;
    line-height: 21px;
}

/* ==========real-time collaboration */
.collaboration-image {
    margin-top: 100px;
    height: 70px;
}

.collaboration-header {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.collaboration-box {
    color: hsl(0, 0%, 100%);
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    line-height: 21px;
    width: 310px;
}

/* =========store any type of file */
.storage-image {
    margin-top: 100px;
    height: 70px;
}

.storage-header  {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.storage-box  {
    color: hsl(0, 0%, 100%);
    text-align: center;
    align-items: center;
    margin-top: 10px;
    line-height: 21px;
    width: 318px;
}

.illustration-background-image   {
    width: 280px;
    margin-top: 130px;
}

/* =======stay productive, wherever you go */
.stay-productive-header  {
    color: hsl(0, 0%, 100%);
    font-size: 19px;
    font-weight: bold;
    margin-left: -10px;
    margin-top: 30px;
}

.productive-box  {
    color: whitesmoke;
    margin-top: 15px;
    /* margin-left: -12px; */
    width: 308px;
    line-height: 20px;
    justify-content: start;
    border: 2px solid green;
}

.productive-box-two  {
    color: whitesmoke;
    margin-top: 15px;
    margin-left: -12px;
    width: 308px;
    line-height: 20px;
}

/* ======directory message */
.directory-box  {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.directory-message  {
    color: hsl(176, 68%, 64%);
}

.straight-line  {
    width: 153px;
    border: 1px solid hsl(176, 51%, 33%);
    margin-left: 0px;
}

.message-plus-line  {
    margin-left: -12px;
}

.quote-image  {
    justify-self: start;
    margin-top: 150px;
    width: 20px;
    justify-self: start:
    /* margin-left: -200px; */
}

.satish-message  {
    border: 2px solid green;
    height: 150px;
    width: 264px;
    text-align: center;
    padding: 20px 20px 0px 20px;
    color: whitesmoke;
    font-size: small;
    line-height: 20px;
}

/* =======profile-one====== */
.overall-profile-one  {
    margin-top: 10px;
    padding-left: 2px;
}

.profile-one  {
    display: flex;
    gap: 10px;
    width: 240px;
}

.satish-image  {
    width: 27px;
    height: 26px;
    border-radius: 20px;
    padding-top: 5px;
}

.founder-name  {
    color: white;
}

.founder-tittle  {
    margin-top: -15px;
    margin-left: -89px;
    font-size: x-small;
}